/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: chartreuse;
    margin: 0;
    padding: 0;
}

/* Header Section */
#header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

#header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#header p {
    font-size: 1.2rem;
}

/* Section Styling */
.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba (0,0,0,o.1);
}

.section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

/* Experience Section */
#experiences .experience-item {
    margin-bottom: 15px;
}

#experiences h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#experiences p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Education Section */
#education .education-item {
    margin-bottom: 15px;
}

#education h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#education p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Skills Section */
.skills-list {
    list-style-type: none;
    padding: 0;
}
.skills-list li {
    font-size: 1rem;
    padding: 5px 0;

}
/* Interests Section */
#interests p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
}

/* Footer Section */
#footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
